<div class="broccoli-field-px2-i18n">
    {% if mod.subLangs and mod.subLangs.length %}
    <div class="broccoli-field-px2-i18n__sub-lang-selector">
        <select class="px2-input">
            <option value="">select language...</option>
            {% for lang in mod.subLangs %}
            <option value="{{ lang }}">{{ lang }}</option>
            {% endfor %}
            <option value="_all">all</option>
        </select>
    </div>
    {% endif %}
    <div class="broccoli-field-px2-i18n__main-block">
        <div class="broccoli-field-px2-i18n__default-lang">
            {% if mod.defaultLang %}
            <p>Default Language: <strong>{{ mod.defaultLang }}</strong></p>
            {% endif %}
            <div class="broccoli-field-px2-i18n__default-lang-body">
                <div data-lang="editor-default-lang"></div>
            </div>
        </div>
        {% if mod.subLangs and mod.subLangs.length %}
        <div class="broccoli-field-px2-i18n__sub-langs">
            {% for lang in mod.subLangs %}
            <div class="broccoli-field-px2-i18n__sub-langs-body">
                <p>Language: <strong>{{ lang }}</strong></p>
                <div data-lang="editor-lang-{{ lang }}"></div>
                <p><button type="button" class="px2-btn" data-btn="auto-translate">自動翻訳</button></p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
